@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategray;
}

header {
    background-color: black;
    padding: 5px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}    

header > h1 {
    font-family: 'Nabla', serif;
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    padding-top: 20px;

    flex: 0 0 100px;
}

span#burguer {
    color: white;
    display: block;
    text-align: center;
    padding: 5px;
    width: 90vw;
    border-radius: 15px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: darkslategrey;
    color: white;
    border: 1px solid black;
}

menu {
    display: none;
}

menu > a {
    display: block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 0.8em;
    margin: 5px;
    width: 90vw;
    border-radius: 15px;
}

menu > a:hover {
    background-color: darkslategrey;
    color: white;
    border: 1px solid black;
}

article {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

article.seg {
    border-radius: 10px;
    margin-top: 100px;
}

h2 {
    text-indent: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

h3 {
    padding: 10px;
}

aside {
    border: 1px dashed black;
    width: 400px;
    display: block;
    margin: auto;
}

div.janela {
    flex: auto;

    border: 1px solid black;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

p {
    text-indent: 30px;
    text-align: justify;
    line-height: 25px;
    padding: 10px;
}

img {
    display: block;
    margin: auto;
    padding: 20px;

    filter: grayscale(100%) 
}

ul.dois {
    list-style-position: inside;
    list-style-type: '\1F9E0\00A0';
    columns: 2;
    line-height: 30px;
    padding-left: 10px;
}

footer {
    background-color: black;
    color: white;
}

footer > p {
    font-size: 0.7em;
    text-align: center;
    padding: 2px;
}