@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #120F26;
}

header {
    background-image: linear-gradient(to top, #52498C, #302A59, #120F26);
    padding: 5px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}    

header > h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    padding-top: 20px;

    flex: 0 0 100px;
}

span#burguer {
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    width: 90vw;
    border-radius: 15px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: #120F26;
    color: white;
    transition-duration: 0.5s;
}

menu {
    display: none;
}

menu > a {
    display: block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 0.8em;
    margin: 5px;
    width: 90vw;
    border-radius: 15px;
}

menu > a:hover {
    background-color: #120F26;
    color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

    transition: 0.5s ease 0.1s;
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

h2 {
    text-indent: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

aside {
    border: 1px solid black;
    width: 420px;
    display: block;
    margin: auto;
}

p {
    text-indent: 30px;
    text-align: justify;
    line-height: 20px;
    padding: 10px;
}

img {
    display: block;
    margin: auto;
    padding: 20px;
}

ul.dois {
    list-style-position: inside;
    list-style-type: '\1F9E0\00A0';
    columns: 2;
    line-height: 30px;
    padding-left: 10px;
}

footer {
    background-color: black;
    color: white;
    margin-top: 20px;
}

footer > p {
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
        transition: 0.3s;
        margin: 5px;
    }

    menu > a {
        display: inline;
        padding: 5px;
    }
}