@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
        transition: 0.3s;
        margin: 5px;
    }

    menu > a {
        display: inline;
        padding: 7px;
    }

    body {
        background-image: url(../imagens/fundo.jpg);
        background-position: center center;
        background-size: contain;
        background-attachment: fixed;
    }

    div.janela {
        display: flex;
        justify-content: center;
    }

    div.janela > img {
        flex: 0 1 200px;
        align-self: center;
    }

    div.janela > aside {
        flex: 0 0 400px;
        align-self: center;
        margin: 20px;
        margin-right: 50px; 
    }

    img.vertical {
        height: 350px;
    }
}