@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
        transition: 0.3s;
        margin: 5px;
    }

    menu > a {
        display: inline;
        padding: 7px;
    }

    body {
        background-image: url(../imagens/fundo.jpg);
        background-position: center center;
        background-size: contain;
        background-attachment: fixed;
    }

    article {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    article.seg {
        border-radius: 10px;
    }

    div.janela {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    div.janela > img {
        align-self: flex-end;
    }

    div.janela > aside {
        flex: 0 0 400px;
        align-self: center;
        margin: 20px;
    }

    img.vertical {
        height: 350px;
    }

    p.indicacao1 {
        display: none;
    }

    p.indicacao2 {
        display: block;
        align-self: center;
    }

    img.indicacao::after {
        content: 'sdfkjnsdklfnlks';
    }

    aside.landscape {
        display: none;
    }
    
    aside.portrait {
        display: block;
    }
}